body{
   background-image: url("https://previews.123rf.com/images/loskutnikov/loskutnikov1011/loskutnikov101100284/8341054-heap-of-dollars-money-background.jpg")
}
h1{
    color: white; 
}
#inner {
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
  }
